﻿@using Deltatre.Core.Parameters
@model Widget


<fieldset>
    <legend>@Model.widgetName</legend>
    @foreach (CustomField field in @Model.customFields)
    {
        <div class="widget-container">
            @Html.Partial("Panels/CustomField", field)
        </div>
    }
</fieldset>