﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
</head>
<body>
    @RenderSection("style", required: false)
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @RenderSection("scripts", required: false)

    <script>
        $(function () {
            $("#accordion").accordion();
        });

        $("#tabs").tabs();

    </script>

    <script type="text/javascript">
    $("#SEARCH").click(function () {
        var query = $("div.search-input input").val();

        $("div.search-box div.ui-state-error").hide();
        if (!query || 0 === query.length) {
            $("div.search-box div.ui-state-error").show();
            return;
        }

        var queryUrl = $("div.searchqueryurl").text();

        queryUrl = queryUrl.replace("<search-query>", query);

        $.getJSON(queryUrl, function (data) {
            alert(data);
        });
    });

    </script>
</body>
</html>
