﻿@using Deltatre.Core.Parameters
@model JsonParameters

 @{int counter = 1;}
<div id="tabs">
   <ul>
        @foreach (var widget in @Model.Widgets)
        {
            <li><a href="#tabs-@counter">@widget.widgetName</a></li>
            counter++;
        }
    </ul>
    @{counter = 1;}
    
    @foreach (Widget widget in @Model.Widgets)
    {
        <div id="tabs-@counter">@Html.Partial("Panels/Widget", widget)</div>
        counter++;
    }
</div>
