﻿html {
    background-color: #e2e2e2;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    border-top: solid 10px #000;
    color: #333;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}

div.widget-container {
    border: solid;
    border-width: 1px;
    border-color: black;
    margin: 5px;
}

div.input-label {
    background-color: lightgray;
}

div.input-field {
}

div.search-box-label {
    background-color: lightgray;
}

div.search-icon {
    float: left;
}

div.search-button {
    float: left;
    border: solid;
    border-width: 1px;
    background-color:lightgray;
}

div.select-container-name {
    background-color: lightgray;
}

div.clear {
    clear: both;
}
