﻿@using Deltatre.Core.Parameters
@model Freetext

<div class="input-label">@Model.Label</div>
<div class="input-field"><textarea class="ckeditor" name="freetext"></textarea></div>
<div class="clear"></div>
