﻿@using Deltatre.Core.Parameters
@model Search

<div class="search-box  ui-corner-all">
    <div class="searchqueryurl" style="display: none;">@Model.queryUrl</div>
    <div class="search-box-label ui-corner-all">@Model.searchBoxLabel</div>
    <div class="search-input ui-corner-all">
        <input type="search" name="search">
    </div>
    <div class="ui-state-error ui-corner-all" style="display: none;">This is a required field</div>
    <div class="search-button ui-corner-all" id="SEARCH">@Model.searchButtonLabel</div>
    <div class="clear"></div>
</div>
<div class="clear"></div>