﻿@using Deltatre.Core.Parameters
@model Select

<div class="select-label"></div>
<div class="select-container">
    <div class="select-container-name">@Model.label</div>
    @foreach (SelectItem item in @Model.selectItems)
    {
        <div class="select-item">@item.Label</div>
    }    
</div>
